.footer{
    position: fixed;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    color: black;
    width: 100%;
    background-color: lightpink;
}