

.heroh1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

.herogrid {
    margin-top: 10px;
}

.lead {
    margin-top: 30px;
    margin-bottom: 25px;
}

.btn-hero-custom1 {
    background-color: #98FB98 !important; /* !important overides the color in the primary button whilst keeping its other features. */
    border-color: #98FB98 !important; 
    color: #000 !important;
    transition: transform 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.btn-hero-custom1:hover {
    background-color: #3af83a !important; /* !important overides the color in the primary button whilst keeping its other features. */
    border-color: #3af83a !important; 
    color: #000 !important;
    transform: scale(1.05); /* Scale up the button on hover */ 
}

.btn-hero-custom2 {
    background-color: #8C92AC !important; /* !important overides the color in the primary button whilst keeping its other features. */
    border-color: #8C92AC !important; 
    color: #fff !important;
    transition: transform 0.3s ease, background-color 0.3s ease, border-color 0.3s ease 
}

.btn-hero-custom2:hover {
    background-color: #474c60 !important; /* !important overides the color in the primary button whilst keeping its other features. */
    border-color: #474c60 !important; 
    color: #fff !important;
    transform: scale(1.05); /* Scale up the button on hover */ 
}

.carousel-item {
    height: 75vh;
}

.car1p {
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    font-size: 18px;
}

/* styling for how it works */

.fc-img2 {
    align-items: center;
    margin-left: 25px;
}

.fc-img3 {
    margin-left: 25px;
}




.car-tit {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 19px;
}


