
/* Header related styling */

header {
    background-color: #2d4dff;
}

header a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 20px;
}

header span {
    color: white;
    margin-top: 15px;
}

header img {
    border-radius: 7px;
    margin-right: 7px;
    margin-left: 15px;
}

.nav {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
}

.nav-item:hover {
    transform: scale(1.2);
    transition: transform 0.3 ease;
}

.nav-link {
    margin: 0;
}


/* Styling the hero */

.heroh1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

.herogrid {
    margin-top: 10px;
}

.lead {
    margin-top: 30px;
    margin-bottom: 25px;
}

.btn-hero-custom1 {
    background-color: #2d4dff !important; /* !important overides the color in the primary button whilst keeping its other features. */
    border-color: #2d4dff !important; 
    color: #000 !important;
    transition: transform 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.btn-hero-custom1:hover {
    background-color: #7b95fa !important; /* !important overides the color in the primary button whilst keeping its other features. */
    border-color: #7b95fa !important; 
    color: #000 !important;
    transform: scale(1.05); /* Scale up the button on hover */ 
}

.btn-hero-custom2 {
    background-color: #2d4dff !important; /* !important overides the color in the primary button whilst keeping its other features. */
    border-color: #2d4dff !important; 
    color: #fff !important;
    transition: transform 0.3s ease, background-color 0.3s ease, border-color 0.3s ease 
}

.btn-hero-custom2:hover {
    background-color: #7b95fa !important; /* !important overides the color in the primary button whilst keeping its other features. */
    border-color: #7b95fa !important; 
    color: #fff !important;
    transform: scale(1.05); /* Scale up the button on hover */ 
}

.carousel-item {
    height: 75vh;
}

.car1p {
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    font-size: 18px;
}



/* styling for how it works */

.hiw-title {
    margin-top: 12px;
}

.fc-img2 {
    align-items: center;
    margin-left: 25px;
    border-radius: 3px;
}

.fc-img3 {
    margin-left: 25px;
    border-radius: 3px;
}



/* Offers styling */

.card-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 19px;
}


/* Footer styling */

footer {
    background-color: #2d4dff;
    color: white;
    padding: 40px 0 0 0;
}

.foot-top {
    margin-left: 50px;
}

.foot-bot {
    margin: 30px 30px 0 30px;
    padding-top: 5px;
}

.footerlogo {
    margin-left: 10px;
    margin-top: 20px;
}