.btn:hover {
    background-color: green;
    color: white;
}


.btn {
    background-color: red;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.squad { 
    margin-left: 10px;
}