.ul {
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

.li{
    margin: 13px;
    padding: 2 auto;
}